.outline {
    display:flex;
    margin-top: 10%;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height:fit-content;
    border-style:double;
}

.inner{
    border:2px dashed white;
    width:fit-content;
    padding: 3px;
    height:fit-content;
    margin: 5px;
}