h1 {
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;

}

input {
    width: 100%;
}

.items-container {
    text-align: left;
}

.kg-row {
    margin: 20px 5px;
    /* margin: vertical horizontal */
}

.kg-button {
    min-width: 80px;
}