@{
    ViewData["Title"] = "Add Product";
}
<div class="text-center">
    <form method="post">
        <input type="number" placeholder="ProductId" name="pid" value="" />
        <input type="text" placeholder="ProductName" name="pname" value="" />
        <input type="number" placeholder="UnitPrice" name="uprice" value="" />
        <input type="number" placeholder="SupplierID" name="splid" value="" />
        <button type="submit">Submit</button>
    </form>
</div>