@{
    ViewData["Title"] = "ADD";
}
<div class="text-center">
    <h1>Add Menu</h1>
    <form method="post">
        <input type="number" placeholder="id" name="id" value="" />
        <input type="text" placeholder="name" name="name" value="" />
        <input type="text" placeholder="rate" name="rate" value="" />
        <button type="submit">Submit</button>
    </form>


</div>